
body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0px auto;
	max-height: 500px;
	background-color: #009688;
	box-shadow: 2px 2px 20px #000000;
	background-position: center center;
	position: center center;
}

header {
	background-color: #009688;
	display: block;
	color: #FFFFFF;
	text-align: center;
	cursor: move;

	
}

header h1 {
	background-color: #009688;
}

header h2 {
	margin: 0px;
}

h1 {
	font-size: 72px;
	margin: 0px;
	color: #FFFFFF;
}

h2 {
	font-size: 24px;
	margin: 0px;
	text-align: center;
	color: #FFFFFF;
}

h3 {
	font-size: 18px;
	margin: 0px;
	text-align: center;
	color: #FFFFFF;
}

lCorner {
	-webkit-box-shadow: 2px 2px 20px #888;
	-webkit-transform: rotate(-45deg);
	-moz-box-shadow: 2px 2px 20px #888;
	-moz-transform: rotate(-45deg);
	position: fixed;
	padding: 0px 150px;
	top: 50px;
	left: -120px;
	text-align:center;
	box-shadow: 2px 2px 10px #000000;
}

rCorner {
	-webkit-box-shadow: 2px 2px 20px #888;
	-webkit-transform: rotate(45deg);
	-moz-box-shadow: 2px 2px 20px #888;
	-moz-transform: rotate(45deg);
	position: fixed;
	padding: 0px 150px;
	top: -30px;
	right: -200px;
	text-align:center;
	box-shadow: 2px 2px 10px #000000;
}

tro {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	margin: 0px;
	text-align:center;
	color: #FFFFFF;
}

nav {
	display: block;
	width: 25%;
	float: right;
	color: #FFFFFF;
	font-size: 30px;
}

nav a:link, nav a:visited{
	display: block;
	border-bottom: 3px solid #fff;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	margin: 5px;
	color: #960000;
}

nav a:hover {
	color: #000000;
	background-color: #F47D31;
}

nav h3 {
	margin: 15px;
	color: #FFFFFF;
}

#container {
	background-color: #cddc39;
}

article {
	background-color: #cddc39;
	display: block;
	max-width: 620px;
	float: center;
	margin: 10px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

article header {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}

article footer {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}

article h1 {
	font-size: 18px;
}

aside {
	display: block;
	width: 25%;
	float: right;
}

aside h3 {
	margin: 15px;
	color: #000000;
}

aside p {
	margin: 15px;
	color: #000000;
	font-weight: bold;
	font-style: italic;
}

footer {
	clear: both;
	display: block;
	background-color: #bf360c;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
}

footer h2 {
	font-size: 15px;
	color: #FFFFFF;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}
