body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0px auto;
	max-width:900px;
	border: 1px solid #dbc610;
	border-color:#daed3e;
	padding: 0px 0;
	text-align: center; 
	width: 2000px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: #fff17c 10px 10px 80px;
	-moz-box-shadow: #fff17c 10px 10px 80px;
	-ms-box-shadow: #fff17c 10px 10px 80px;
	-o-box-shadow: #fff17c 10px 10px 80px;
	box-shadow: #fff17c 10px 10px 80px;

	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1877f8), to(#004eb8));
	background: -webkit-linear-gradient(#1877f8, #004eb8);
	background: -moz-linear-gradient(#1877f8, #004eb8);
	background: -ms-linear-gradient(#1877f8, #004eb8);
	background: -o-linear-gradient(#1877f8, #004eb8);
	background: linear-gradient(#1877f8, #004eb8);
}

header {
	background-color:#1877f8;
	display:block;
	color:#dc13a1;
	text-align:center;
	cursor:move;
	float:center;
}

header h2 {
	margin: 0px;
}

h1 {
	font-size: 72px;
	margin: 0px;
	color: #bc1861;
}

h1 a:link, h1 a:visited{
	font-size: 72px;
	margin: 0px;
	color: #e71171;
}

h2 {
	font-size: 28px;
	margin: 0px;
	text-align:center;
	color: #e7c748;
}

h3 {
	font-size: 18px;
	margin: 0px;
	text-align:center;
	color: #cdcc51;
}

h4 {
	color: #a8a730;
	background-color: #004eb8;
	-webkit-box-shadow: 2px 2px 20px #888;
	-webkit-transform: rotate(-45deg);
	-moz-box-shadow: 2px 2px 20px #888;
	-moz-transform: rotate(-45deg);
	position: absolute;
	padding: 0px 150px;
	top: 50px;
	left: -120px;
	text-align:center;
}

h5 {
	color: #a8a730;
	background-color: #004eb8;
	-webkit-box-shadow: 2px 2px 20px #888;
	-webkit-transform: rotate(45deg);
	-moz-box-shadow: 2px 2px 20px #888;
	-moz-transform: rotate(45deg);
	position: absolute;
	padding: 0px 150px;
	top: -30px;
	right: -200px;
	text-align:center;
}

h6 {
	font-size: 18px;
	margin: 0px;
	text-align:center;
	color: #cdcc51;
}

tro {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	margin: 0px;
	text-align:center;
	color: #99CC33;
}

table {
	BORDER-RIGHT: #ff9933 1px outset;
    PADDING-RIGHT: 4px; BORDER-TOP: #ff9933 1px outset;
    PADDING-LEFT: 4px; PADDING-BOTTOM: 1px;
    BORDER-LEFT: #ff9933 1px outset; PADDING-TOP: 1px;
    BORDER-BOTTOM: #ff9933 1px outset;
    BACKGROUND-COLOR: #ffcc66;
}

nav {
	display:block;
	width: 25%;
	float: left;
	color: #883e3e;
	font-size: 30px;
}

nav a:link, nav a:visited{
	display:block;
	border-bottom: 3px solid #fff;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	margin: 5px;
}

nav a:hover {
	color: white;
	background-color: #F47D31;
}

nav h3 {
	margin: 15px;
	color: white;
}